[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-nemosyne
Exec=harbour-nemosyne
Name=Nemosyne
# translation example:
# your app name in German locale (de)
Name[de]=Nemosyne
Name[ja]=Nemosyne
Name[zh]=Nemosyne
Name[zh_TW]=Nemosyne
Name[nl]=Nemosyne

